STRAVA_CLIENT_ID=your_client_id_here
STRAVA_CLIENT_SECRET=your_client_secret_here
NEXT_PUBLIC_BASE_URL=http://localhost:3000
COOKIE_SECRET=run_openssl_rand_-hex_16_and_paste_here
DATABASE_PATH=./data/forza.db
SERVER_ENDPOINT=http://100.100.86.62:11434
OLLAMA_EMBEDDING_MODEL=bge-m3
OLLAMA_LLM_MODEL=llama3.1:8b
CHROMA_PATH=./data/chroma
CHROMA_EMBEDDING_DB_NAME=strava_activities
CHROMA_URL=http://localhost:8000